appdirs==1.4.4
asgiref==3.5.2
base58==2.1.1
black==20.8b1
cachetools==5.0.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
cytoolz==0.12.0
Django==4.1.7
django-cors-headers==3.14.0
django-environ==0.4.5
django-extensions==3.2.1
django-google-tag-manager==0.0.5
envkey==1.2.5
eth-abi==2.1.1
eth-hash==0.2.0
eth-typing==2.2.2
eth-utils==1.9.5
google-api-core==2.7.1
google-auth==2.6.2
google-cloud-tasks==2.6.0
googleapis-common-protos==1.56.0
grpc-google-iam-v1==0.12.3
grpcio==1.45.0
grpcio-status==1.45.0
idna==2.10
mccabe==0.6.1
morphys==1.0
mypy-extensions==0.4.3
numpy==1.23.3
packaging==21.3
parsimonious==0.8.1
pathspec==0.8.0
proto-plus==1.20.3
protobuf==3.20.0
psycopg2-binary==2.9.3
py-multihash==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.8
PyJWT==2.6.0
pyparsing==3.0.7
python-dotenv==0.15.0
pytz==2020.1
regex==2020.7.14
requests==2.28.1
rsa==4.8
sentry-sdk==1.9.9
simplejson==3.17.5
six==1.15.0
sqlparse==0.4.2
toml==0.10.1
toolz==0.10.0
twilio==7.15.3
typed-ast==1.5.4
typing-extensions==3.7.4.3
urllib3==1.26.11
varint==1.0.2
