{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}Address {{address}}{% endblock %}


{% block content %}
<p style="margin-bottom:1px">OUSD account history:</p>
<h2 style="margin-top:1px">{{address}}</h2>

<style>
    .card {
        border: solid 1px #eee;
        border-radius: 2px;
        width: 300px;
        height: 300px;
        float: left;
        text-align: center;
        padding-top: 20px;
        text-align:right;
        padding-right: 20px;
        font-family: ioseveka, monospace;
    }
    .label { font-size: 18px; width: 140px; display: block; float: right; padding-top: 20px; font-family: Lato;}
</style>

<div class="mono" style="width: 700px; font-size: 50px; text-align:right; margin: 1em auto;">
    <div style="clear:both"><strong>{{current_balance|floatformat:4}}</strong> <small  class="label">Current Balance</small></div>
    <div style="clear:both">=<small  class="label">&nbsp;</small></div>
    <div style="clear:both"> <strong>+ {{yield_balance|floatformat:4}}</strong> <small  class="label">Earned <strong>Yield</strong></small></div>
    <div style="clear:both"> + {{transfers_in|floatformat:4}} <small class="label">Transfers In</small></div>
    <div style="clear:both"> - {{transfers_out|floatformat:4}} <small  class="label">Transfers Out</small></div>
</div>


<h3>Transfers:</h3>

<table class="table">
{% for log in transfers %}
    <tr>
        <td>🔆</td>
        <td><strong>Transfer</strong></td>
        <td>{{log.data|dec_18|floatformat:2}} <abbr>OUSD</abbr></td>
        <td><strong>{{log.topic_1|long_address_name}}</strong></td>
        <td>to</td>
        <td><strong>{{log.topic_2|long_address_name}}</strong></td>
        <td>{{log.block_number}}</td>
        <td>{{log.txhash}}</td>
    </tr>
{% endfor %}
</table>

<div style="clear: both"></div>




{% endblock %}