{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}Anaytics Reports{% endblock %}


{% block content %}
<h1>Anaytics Report</h1>

<div>
  <div class="report d-flex flex-column w-100">
    <div class="d-flex w-100 py-1">
      {% if is_monthly %}
        <div class="col-2"><b>Month/Year:</b></div>
        <div class="col-2 black">{{report.month}}/{{report.year|int_no_comma}}</div>
      {% else %}
        <div class="col-2"><b>Week/Year:</b></div>
        <div class="col-2 black">{{report.week}}/{{report.year|int_no_comma}}</div>
      {% endif %}
    </div>
    <div class="d-flex py-1">
      <div class="col-2"><b>Block start:</b></div>
      <div class="col-4 black">{{report.block_start}}({{report.start_time}})</div>
      <div class="col-2"><b>Block end:</b></div>
      <div class="col-4 black">{{report.block_end}}({{report.end_time}})</div>
    </div>
    {% if report.status != 'done' %}
      <h3 class="mt-3 text-center">Still processing</h3>
    {% else %}
      <div class="d-flex flex-column stat-table">
        <div class="header py-2">Supply</div>
        <div class="d-flex py-1 item">
          <div class="col-6">Total Supply</div>
          <div class="col-4 black">{{report|class_value:'total_supply'}}<span style="{{change|dict_color_style:'total_supply'}}"> ({{change|dict_value:'total_supply'|floatformat:1}}%)</span></div>
          <div class="col-2 black"></div>
        </div>
        {% for pool in pools %}
          <div class="d-flex py-2 item">
            <div class="col-6">{{pool|dict_value:'name'}}</div>
            <div class="col-4 black">{{pool|dict_value:'amount'}}</div>
            {% if pool.is_rebasing %}
              <div class="col-2 black">Rebasing</div>
            {% else %}
              <div class="col-2 black">Non Rebasing</div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="d-flex py-1 item">
          <div class="col-6">Remaining Rebasing</div>
          <div class="col-4 black">{{json_report|dict_value:'supply_data.other_rebasing'|floatformat:0}}<span style="{{change|dict_color_style:'other_rebasing'}}"> ({{change|dict_value:'other_rebasing'|floatformat:1}}%)</span></div>
          <div class="col-2 black">Rebasing</div>
        </div>
        <div class="d-flex py-1 item">
          <div class="col-6">Remaining Non-rebasing</div>
          <div class="col-4 black">{{json_report|dict_value:'supply_data.other_non_rebasing'|floatformat:0}}<span style="{{change|dict_color_style:'other_non_rebasing'}}"> ({{change|dict_value:'other_non_rebasing'|floatformat:1}}%)</span></div>
          <div class="col-2 black">Non Rebasing</div>
        </div>
      </div>


      {% for statistic in stat_keys %}
        <div class="d-flex py-1">
          <div class="col-4"><b>{{stats|dict_value:statistic}}</b></div>
          <div class="col-6 black">{{report|class_value:statistic}}<span style="{{change|dict_color_style:statistic}}"> ({{change|dict_value:statistic|floatformat:1}}%)</span></div>
        </div>
      {% endfor %}
    {% endif %}
    {% if report.transaction_report %}
      <div>
        <div class="mt-3">Swap transactions </div>
        <div class="d-flex flex-column">
          <div class="d-flex">
            <div class="col-4">Contract</div>
            <div class="col-2">Swaps</div>
            <div class="col-2">Total OUSD</div>
          </div>
          {% for contract_address, data in report.transaction_report.contracts_swaps.items %}
          <div class="d-flex py-1">
            <div class="col-4 text-s">
              <a
                href="https://www.etherscan.com/address/{{ contract_address }}"
                target="_blank"
              >
                <b>{{data|cotract_name}}</b>
              </a>
            </div>
            <div class="col-2 text-s"><b>{{data|dict_value:"total_swaps"|int_no_comma}}</b></div>
            <div class="col-2 text-s"><b>{{data|dict_value:"total_ousd_swapped"|floatformat:1}} ({{data|dict_value:"total_swapped_ousd_share,0"|percentage|floatformat:1}}%)</b></div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div>
        <div class="mt-3">Unknown transactions </div>
        <div class="d-flex flex-column">
          <div class="d-flex">
            <div class="col-4">Contract</div>
            <div class="col-2">Transactions</div>
            <div class="col-2">Total OUSD</div>
          </div>
          {% for contract_address, data in report.transaction_report.contracts_other.items %}
          <div class="d-flex py-1">
            <div class="col-4 text-s">
              <a
                href="https://www.etherscan.com/address/{{ contract_address }}"
                target="_blank"
              >
                <b>{{data|cotract_name}}</b>
              </a>
            </div>
            <div class="col-2 text-s"><b>{{data|dict_value:"total_transactions"|int_no_comma}}</b></div>
            <div class="col-2 text-s"><b>{{data|dict_value:"total_ousd_swapped"|floatformat:1}} ({{data|dict_value:"total_swapped_ousd_share,0"|percentage|floatformat:1}}%)</b></div>
          </div>
        {% endfor %}
        </div>
      </div>
    {% else %}
      <h3 class="mt-3 text-center">Contracts report not yet done</h3>
    {% endif %}
  </div>
</div>

<style>
    .report {
        border: 1px solid rgb(130, 147, 164);
        margin-bottom: 20px;
        color: rgb(130, 147, 164);
        border-radius: 10px;
        box-shadow: rgb(24 49 64 / 10%) 0px 0px 14px 0px;
        padding: 20px;
    }

    .text-s {
      font-size: 14px;
    }

    .black {
      color: black;
    }

    .stat-table {

    }

    .stat-table .header {
      color: #183140;
      font-size: 25px;
      font-weight: 800;
      margin-top: 16px;
    }

    .stat-table .item {
      border-bottom: 1px solid #88A1C0;
    }

</style>


{% endblock %}