{% load blockchain %}

<head>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<div>
  <div style="max-width:576px;margin: 32px 32px 32px 0;padding: 48px 40px 48px 40px;border-radius: 8px;font-family: Helvetica;background-color:#F0F2F4;font-size: 12px;line-height: 13px;">
    <img src="https://analytics.ousd.com/static/core/img/origin-dollar.png" alt="origin dollar" style="width: 50%;height: auto;" />
    <h1 style="margin-top: 48px;font-size: 24px;line-height: 28px;font-weight: bold;">Analytics Report</h1>
    <h4 style="margin-top:16px;font-size: 14px;line-height: 16px;">
        {% if type == 'Weekly' %}
          For the week ending {{report.end_time|date:"F d, Y"}} at {{report.end_time|date:"P"}}
        {% else %}
          For the month ending {{report.end_time|date:"F d, Y"}} at {{report.end_time|date:"P"}}
        {% endif %}
        UTC.
    </h4>

    <h2 style="display:flex;flex-direction:row;align-items:center;margin-top: 48px;font-size: 20px;line-height: 23px;font-weight:bold;">
      <img src="https://analytics.ousd.com/static/core/img/ousd.png" alt="ousd" style="width: 32px;height: 32px;padding-right:6px;" />
      <div style="display:inline;padding-top:5px">OUSD</div>
    </h2>

    <table class='p-0' style="margin-top: 32px;text-align:right;border-collapse: collapse;">
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="text-align:left;min-width:265px;font-weight:bold;"><div>Top indicators</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;">{% if type == 'Weekly' %}w/e{% else %}m/e{% endif %} {{report.end_time|date:'d M'}}</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;">{% if type == 'Weekly' %}w/e{% else %}m/e{% endif %} {{prev_report.end_time|date:'d M'}}</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;">Change</div></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="font-weight:bold;"><div style="text-align:left;font-size:14px;line-height:16px;padding-top: 14px;padding-bottom: 14px;">Total Supply</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'total_supply'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'total_supply'}}</div></td>
        <td><span style="{{change|dict_color_style:'total_supply'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'total_supply'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="font-weight:bold;"><div style="text-align:left;font-size:14px;line-height:16px;padding-top: 14px;padding-bottom: 14px;">Assets Under Management</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'assets_under_management'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'assets_under_management'}}</div></td>
        <td><span style="{{change|dict_color_style:'assets_under_management'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'assets_under_management'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="font-weight:bold;"><div style="text-align:left;font-size:14px;line-height:16px;padding-top: 14px;padding-bottom: 14px;">30-Day APY</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'apy'}}%</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'apy'}}%</div></td>
        <td><span style="{{change|dict_color_style:'apy'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'apy'|floatformat_rnd_down:0}}bp)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="font-weight:bold;"><div style="text-align:left;font-size:14px;line-height:16px;padding-top: 14px;padding-bottom: 14px;">Stablecoin market share</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'stablecoin_market_share'}}%</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'stablecoin_market_share'}}%</div></td>
        <td><span style="{{change|dict_color_style:'stablecoin_market_share'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'stablecoin_market_share'|floatformat_rnd_down:2}}bp)</div></span></td>
      </tr>
    </table>

    <table style="margin-top: 32px;text-align:right;border-collapse: collapse;">
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="text-align:left;min-width:265px;font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">More details</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;"></div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;"></div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;"></div></td>
      </tr>
        {% for statistic in stat_keys %}
        <tr style="border-bottom: 1px solid #B5BECA;">
            <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">{{stats|dict_value:statistic}}</div></td>
            {%if statistic == "accounts_holding_more_than_100_ousd"%}
              <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:statistic}}</div></td>
              <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:statistic}}</div></td>
            {% else %}
              <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">${{report|class_value:statistic}}</div></td>
              <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">${{prev_report|class_value:statistic}}</div></td>
            {% endif %}
            <td><span style="{{change|dict_color_style:statistic}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:statistic|floatformat_rnd_down:2}}%)</div></span></td>
        </tr>
        {% endfor %}
        
    </table>

    <h2 style="display:flex;flex-direction:row;align-items:center;margin-top: 48px;font-size: 20px;line-height: 23px;font-weight:bold;">
      <img src="https://analytics.ousd.com/static/core/img/ogv.png" alt="ogv" style="width: 32px;height: 32px;padding-right:6px;" />
      <div style="display:inline;padding-top:5px">
        OGV
        <span style="font-weight:normal;">(Origin Dollar Governance)</span></div>
    </h2>

    <table style="margin-top: 32px;border-bottom: 1px solid #B5BECA;text-align:right;border-collapse: collapse;">
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td style="text-align:left;min-width:265px;font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">Top indicators</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;">{% if type == 'Weekly' %}w/e{% else %}m/e{% endif %} {{report.end_time|date:'d M'}}</div></td>
        <td style="min-width:100px;"><div style="margin-top: 14px;margin-bottom: 14px;">{% if type == 'Weekly' %}w/e{% else %}m/e{% endif %} {{prev_report.end_time|date:'d M'}}</div></td>
        <td style="min-width:100px;"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">Change</div></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">Price</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">${{report|class_value:'ogv_price'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">${{prev_report|class_value:'ogv_price'}}</div></td>
        <td><span style="{{change|dict_color_style:'ogv_price'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'ogv_price'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">Market cap</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">${{report|class_value:'ogv_market_cap'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">${{prev_report|class_value:'ogv_market_cap'}}</div></td>
        <td><span style="{{change|dict_color_style:'ogv_market_cap'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'ogv_market_cap'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">Average daily trading volume</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">${{report|class_value:'average_ogv_volume'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">${{prev_report|class_value:'average_ogv_volume'}}</div></td>
        <td><span style="{{change|dict_color_style:'average_ogv_volume'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'average_ogv_volume'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">Amount staked</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'amount_staked'}}</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'amount_staked'}}</div></td>
        <td><span style="{{change|dict_color_style:'amount_staked'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'amount_staked'|floatformat_rnd_down:2}}%)</div></span></td>
      </tr>
      <tr style="border-bottom: 1px solid #B5BECA;">
        <td><div style="text-align:left;font-size:14px;line-height:16px;margin-top: 14px;margin-bottom: 14px;">Percentage staked</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;">{{report|class_value:'percentage_staked'}}%</div></td>
        <td style="font-weight:bold;"><div style="margin-top: 14px;margin-bottom: 14px;opacity:0.5">{{prev_report|class_value:'percentage_staked'}}%</div></td>
        <td><span style="{{change|dict_color_style:'percentage_staked'}}"><div style="font-size:11px;line-height:13px;margin-top: 14px;margin-bottom: 14px;">({{change|dict_value:'percentage_staked'|floatformat_rnd_down:0}}bp)</div></span></td>
      </tr>
    </table>
    <div style="margin-top:64px;">
      {% if type == 'Weekly' %}
        <a style="text-decoration:none;" href="https://analytics.ousd.com/reports/weekly/{{report.year|int_no_comma}}/{{report.week|int_no_comma}}">View in browser</a>
      {% else %}
        <a style="text-decoration:none;" href="https://analytics.ousd.com/reports/monthly/{{report.year|int_no_comma}}/{{report.month|int_no_comma}}">View in browser</a>
      {% endif %}
    </div>
    <hr style="background-color:#B5BECA;height:1px;border:0;">
    <div style="margin-top:0px;">
      If you don't want to receive these updates any more, please unsubscribe 
      <a style="text-decoration:none;" href="https://analytics.ousd.com/reports/unsubscribe?email={{email}}&conf_num={{conf_num}}">here.</a>
    </div>
  </div>
</div>