{% load blockchain %}

<div>
    <style>
        h2 {
            margin-bottom: 20px;
        }

        .table-header: {
            background-color: #e5e5e5;
            border: 1px solid black;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }
    </style>

    <h2>{{type}} Analytics Report</h2>
    <h4>
        {% if type == 'Weekly' %}
          <a
            href="https://analytics.ousd.com/reports/weekly/{{report.year|int_no_comma}}/{{report.week|int_no_comma}}"
          >
              start time: {{report.start_time}} end time: {{report.end_time}}
          </a>
        {% else %}
          <a
            href="https://analytics.ousd.com/reports/monthly/{{report.year|int_no_comma}}/{{report.month|int_no_comma}}"
          >
              start time: {{report.start_time}} end time: {{report.end_time}}
          </a>
        {% endif %}
    </h4>

    <table>
        <tr>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Supply</td>
            <td style="min-width:120px;background-color:black;color:white;font-weight:bold;padding:2px 8px"></td>
            <td style="min-width:120px;background-color:black;color:white;font-weight:bold;padding:2px 8px"></td>
        </tr>
        <tr>
            <td>Total Supply</td>
            <td>{{report|class_value:'total_supply'}}<span style="{{change|dict_color_style:'total_supply'}}"> ({{change|dict_value:'total_supply'|floatformat_rnd_down:1}}%)</span></td>
            <td></td>
        </tr>
        {% for pool in report.pools %}
        <tr>
            <td>{{pool|dict_value:'name'}}</td>
            <td>{{pool|dict_value:'amount'|floatformat_rnd_down:0}}</td>
            {% if pool.is_rebasing %}
              <td>Rebasing</td>
            {% else %}
              <td>Non Rebasing</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td>Remaining Rebasing</td>
            <td>{{report|class_value:'other_rebasing'|floatformat_rnd_down:0}}<span style="{{change|dict_color_style:'other_rebasing'}}"> ({{change|dict_value:'other_rebasing'|floatformat_rnd_down:1}}%)</span></td>
            <td>Rebasing</td>
        </tr>
        <tr>
            <td>Remaining Non-rebasing</td>
            <td>{{report|class_value:'other_non_rebasing'|floatformat_rnd_down:0}}<span style="{{change|dict_color_style:'other_non_rebasing'}}"> ({{change|dict_value:'other_non_rebasing'|floatformat_rnd_down:1}}%)</span></td>
            <td>Non Rebasing</td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">General KPIs</td>
            <td style="min-width:120px;background-color:black;color:white;font-weight:bold;padding:2px 8px"></td>
        </tr>
        {% for statistic in stat_keys %}
        <tr>
            <td>{{stats|dict_value:statistic}}</td>
            <td>{{report|class_value:statistic}}<span style="{{change|dict_color_style:statistic}}"> ({{change|dict_value:statistic|floatformat_rnd_down:1}}%)</span></td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Curve KPIs</td>
            <td style="min-width:120px;background-color:black;color:white;font-weight:bold;padding:2px 8px"></td>
        </tr>
        {% for statistic in curve_stats %}
        <tr>
            <td>{{curve_stats|dict_value:statistic}}</td>
            <td>{{report|class_value:statistic|floatformat_rnd_down:2}}<span style="{{change|dict_color_style:statistic}}"> ({{change|dict_value:statistic|floatformat_rnd_down:1}}%)</span></td>
        </tr>
        {% endfor %}
    </table>
    {% if report.transaction_report %}
      <div>
        <h4>Swap transactions </h4>
        <table>
          <tr>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Contract</td>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Swaps</td>
            <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Total OUSD</td>
          </tr>
          {% for contract_address, data in report.transaction_report.contracts_swaps.items %}
          <tr class="d-flex py-1">
            <td>
              <a
                href="https://www.etherscan.com/address/{{ contract_address }}"
                target="_blank"
              >
                <b>{{data|dict_value:"name"}}</b>
              </a>
            </td>
            <td><b>{{data|dict_value:"total_swaps"|int_no_comma}}</b></td>
            <td><b>{{data|dict_value:"total_ousd_swapped"|floatformat_rnd_down:1}} ({{data|dict_value:"total_swapped_ousd_share,0"|percentage|floatformat_rnd_down:1}}%)</b></td>
          </tr>
          {% endfor %}
        </table>
        <div>
          <h4>Unknown transactions </h4>
          <table>
            <tr>
              <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Contract</td>
              <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Transactions</td>
              <td style="min-width:300px;background-color:black;color:white;font-weight:bold;padding:2px 8px">Total OUSD</td>
            </tr>
            {% for contract_address, data in report.transaction_report.contracts_other.items %}
            <tr class="d-flex py-1">
              <td>
                <a
                  href="https://www.etherscan.com/address/{{ contract_address }}"
                  target="_blank"
                >
                  <b>{{data|cotract_name}}</b>
                </a>
              </td>
              <td><b>{{data|dict_value:"total_transactions"|int_no_comma}}</b></td>
              <td><b>{{data|dict_value:"total_ousd_swapped"|floatformat_rnd_down:1}} ({{data|dict_value:"total_swapped_ousd_share,0"|percentage|floatformat_rnd_down:1}}%)</b></td>
            </tr>
          {% endfor %}
          </table>
        </div>
    {% else %}
      <h3>Contracts report not yet done</h3>
    {% endif %}
</div>