{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}OUSD Analytics{% endblock %}


{% block content %}



<div style="text-align:center; margin:auto">

<table class="table-center no-wrap" style="margin:2em auto 2em;">
    <tr class="super-number">
        <td width="250">{{apy|floatformat:2}}%</td>
        <td style="font-size:64px"><strong>{{total_supply|floatformat:2}}</strong></td>
        <td width="250">${{extra_assets|floatformat:2}}</td>
    </tr>
    <tr class="under-title">
        <td>APY</td>
        <td>OUSD Supply</td>
        <td>
            {% if extra_assets > 0 %}
                Next Rebase
            {% else %}
            Next Rebase on Hold
            {% endif %}
        </td>
    </tr>
</table>

<table class="table table-center no-wrap" style="margin:4em auto 2em;">
    <thead>
        <tr>
            <th></th>
            <th>Vault</th>
            <th>Buffer</th>
            <th>3Pool</th>
            <th>Compound</th>
            <th>AAVE</th>
            <th>Mint Oracle</th>
            <th>Redeem Oracle</th>
            <th>Basis diff</th>
            <th>Value</th>
        </tr>
    </thead>

    {% for asset in assets %}
        <tr>
            <td><strong>{{asset.symbol}}</strong></td>
            <td>{{asset.total|floatformat:2}}</td>
            <td>{{asset.vault_holding|floatformat:2}}</td>
            <td>{{asset.threepoolstrat_holding|floatformat:2}}</td>
            <td>{{asset.compstrat_holding|floatformat:2}}</td>
            <td>{{asset.aavestrat_holding|floatformat:2}}</td>
            <td>${{asset.ora_tok_usd_min|floatformat:4}}</td>
            <td>${{asset.ora_tok_usd_max|floatformat:4}}</td>
            <td>{{asset.ora_diff_basis|floatformat:1}}</td>
            <td>${{asset.redeem_value|floatformat:2}}</td>
        </tr>
    {% endfor %}
    <tr class="row-summary">
        <td></td>
        <td><strong>{{total_assets|floatformat:2}}</strong></td>
        <td>{{total_vault|floatformat:2}}</td>
        <td>{{total_threepool|floatformat:2}}</td>
        <td>{{total_aave|floatformat:2}}</td>
        <td>{{total_compstrat|floatformat:2}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td><strong>${{total_value|floatformat:2}}</strong></td>
    </tr>
</table>

</div>

<h2>Logs</h2>

<p>
    <a href="/?topic_0=0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef">Transfers Only</a>
</p>
<div>
    <table class="table">
        {% for log in latest_logs %}
        <tr>

            <td>
                {% ifchanged %}<a href="/tx/debug/{{log.transaction_hash}}">{{log.transaction_hash|truncatechars:14}}</a>{% endifchanged %}
                {% ifchanged %}{{log.block_number}}{% endifchanged %}
            </td>
            <td>
                →
            </td>
            <td>{{log.address|contract_name}}</td>
            <td>
                {% if log.topic_0 == "0x222838db2794d11532d940e8dec38ae307ed0b63cd97c233322e221f998767a6" %}
                    🚮
                {% endif %}
                {% if log.topic_0 == "0x0f6798a560793a54c3bcfe86a93cde1e73087d944c0ea20544137d4121396885" %}
                    ❇️
                {% endif %}

                
                {% if log.topic_0 == "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef" and log.address == "0x2a8e1e676ec238d8a992307b495b45b3feaa5e86" %}
                    🔆 <strong>Transfer</strong>
                    {{log.data|dec_18|floatformat:2}}
                    from
                    <strong>{{log.topic_1|long_address_name}}</strong> to
                    <strong>{{log.topic_2|long_address_name}}</strong>
                {% elif log.topic_0 == "0x99e56f783b536ffacf422d59183ea321dd80dcd6d23daa13023e8afea38c3df1" %}
                    🉑 <strong>TotalSupplyUpdated</strong>
                    {% for v in log.data|explode_data %}
                        {{v}}
                    {% endfor %}
                    
                {% else %}
                    <strong>{{log.topic_0|event_name}}</strong><br>
                    {% if log.topic_1 %}
                        {{log.topic_1}}<br>
                    {% endif %}
                    {% if log.topic_2 %}
                        {{log.topic_2}}<br>
                    {% endif %}
                    {{log.data}}
                {% endif %}
                
            </td>
        </tr>
        {% endfor %}
    </table>
    

</div>

<p>
    OUSD at block {{block_number}}
</p>

{% endblock %}