{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}Debug transaction{% endblock %}


{% block content %}
<h1>Debug Transaction</h1>

<p>
    {{transaction.tx_hash}}
    <a href="https://etherscan.io/tx/{{transaction.tx_hash}}" class="etherscan-logo-link" onclick="window.open(this.href); return false">Etherscan Transaction {{transaction.tx_hash}}</a>
</p>
<p>{{transaction.block_time|local_time}} ⎯ Block {{transaction.block_number}}</p>

<style>
    .no-wrap td { white-space: nowrap; }
    .etherscan-logo-link {
        text-indent: -9999px;
        background-image: url('/static/core/img/etherscan_logo.png');
        background-size: 20px 20px;
        text-indent: -9999px;
        height: 20px;
        width: 20px;
        display: inline-block;
    }
</style>

<h3>Events</h3>
<table>
    {% for log in logs %}
    <tr>
        <td>{{log.address|contract_name}}</td>
        <td>{{log.topic_0|event_name}}</td>
    </tr>
    {% endfor %}
</table>

<h3>Trace</h3>
<table class="table no-wrap">
    <thead>
        <tr>
            <th>-</th>
            <th>-</th>
            <th>From</th>
            <th>To</th>
            <th>GasIn</th>
            <th>GasUsed</th>
            <th>Method</th>
            <th>Input</th>
            <th>Output</th>
        </tr>
    </thead>
    {% for row in transaction.debug_data %}
    <tr>
        <td>{{row|trace_annotation}}</td>
        <td class="grey">
            {% for t in row.traceAddress %}{{t}}>{% endfor %}
        </td>
        <td>{{row.action.from|contract_name}}</td>
        <td>{{row.action.to|contract_name}}</td>
        <td class="l">{{row.action.gas|hextoint|intcomma}}</td>
        <td class="l">{{row.result.gasUsed|hextoint|intcomma}}</td>
        <td>{{row.action.input|method_name}}</td>
        <td>{{row.action.input}}</td>
        <td>{{row.result.output}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}