<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/static/core/flipper/">
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>OUSD Swap</title>

	<!-- <link rel='icon' type='image/png' href='/favicon.png'> -->
	<link rel='stylesheet' href='/static/core/flipper/global.css'>
	<link rel='stylesheet' href='/static/core/flipper/build/bundle.css'>

	<script defer src='/static/core/flipper/build/bundle.js'></script>
</head>

<body>
</body>
</html>
