{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}Public Dashboards{% endblock %}


{% block content %}

<style>
    .module {
        border: solid 1px var(--powder-blue);
        border-radius: 10px;
        flex-grow: 1;
        margin-bottom: var(--gutter-x);
        padding: 10px;
    }

    .module .label {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
    }

    .module .frame-holder {
        height: 150px;
        margin-bottom: 20px;
    }

    .container {
        --gutter-x: 8px;
    }

    @media (min-width: 992px) {
        .container {
            --gutter-x: 20px;
        }

        .module {
            padding: 30px;
        }

        .module .frame-holder {
            height: 350px;
        }
    }
    @media (min-width: 1200px) {
        .module .frame-holder {
        height: 400px;
        }
    }

</style>

<h1>OUSD Public Dashboards</h1>

<p>Monitoring health of DEFI contracts that can affect OUSD strategy health</p>

<div class="module">
    <div class="label"> Macro Situation </div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=10" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=22" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=24" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=34" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=32" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
</div>

<div class="module">
    <div class="label"> General Statistics </div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=26" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=2" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=4" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=28" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=30" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
</div>  

<div class="module">
    <div class="label"> Strategies </div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=8" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=18" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=6" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
    <div class="frame-holder"><iframe src="https://ousd-dashboard.ogn.app/d-solo/0YIjaWh4z/main-dashboard?orgId=1&panelId=20" width="{{embed_panel_width}}" height="{{embed_panel_height}}" frameborder="0"></iframe></div>
</div> 


{% endblock %}