{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}OUSD Supply{% endblock %}


{% block content %}

<style>
    tr.grey td { background: #eee;}
</style>

<h1>OUSD Supply</h1>

<table class="table">
    <tr>
        <td>Total</td>
        <td class="text-right big"><strong>{{s.reported_supply|floatformat:0}}</strong></td>
        <td></td>
    </tr>
    {% for pool in pools %}    
    <tr>
        <td>{{pool.name}}</td>
        <td class="text-right big">{{pool.amount|floatformat:0}}</td>
        <td>{% if pool.is_rebasing %}Rebasing{% else %}Non-rebasing{% endif %}</td>
    </tr>
    {% endfor %}
    <tr class="grey">
        <td>Additional Rebasing</td>
        <td class="text-right big">{{other_rebasing|floatformat:0}}</td>
        <td>Rebasing</td>
    </tr>
    <tr class="grey">
        <td>Additional Non-rebasing</td>
        <td class="text-right big">{{other_non_rebasing|floatformat:0}}</td>
        <td>Non-rebasing</td>
    </tr>
</table>
    


{% endblock %}