{% extends 'base.html' %}
{% load blockchain %}
{% load humanize %}

{% block title %}OUSD Supply{% endblock %}


{% block content %}

<style>
    tr.grey td { background: #eee;}
</style>

<h1>OUSD Supply</h1>

<table class="table" style="width:auto">
    <tr>
        <td>Total</td>
        <td class="text-right big"><strong>{{s.reported_supply|floatformat:0}}</strong></td>
    </tr>
    <tr>
        <td>Rebasing Supply</td>
        <td class="text-right big"><strong>{{s.rebasing_reported_supply|floatformat:0}}</strong></td>
    </tr>
    {% for pool in rebasing_pools %}    
    <tr class="grey">
        <td style="padding-left:2em">{{pool.name}}</td>
        <td class="text-right big">{{pool.amount|floatformat:0}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Non Rebasing Supply</td>
        <td class="text-right big"><strong>{{s.non_rebasing_supply|floatformat:0}}</strong></td>
    </tr>
    {% for pool in non_rebasing_pools %}    
    <tr class="grey">
        <td style="padding-left:2em">{{pool.name}}</td>
        <td class="text-right big">{{pool.amount|floatformat:0}}</td>
    </tr>
    {% endfor %}
</table>
    


{% endblock %}